
body {
    background-image: url("../images/fondo.png");
}



nav {
    background-color: white;
    margin-top: -33px;
    height: 80px;
    
}

.name {
    padding-top: 20px;
    font-family: georgia;
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: #4aaaa5;
    width: 250px;
    height: 60px;
    margin-left: 300px;
}

.links {
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    text-decoration: none;
    border-right: 2px solid white;
    padding: 10px;
    font-size: 16px;
    float: left;
    position: relative;
    top: -90px;
    left: 64%;
    margin: 10px;
}

.links:hover{
    color: #4aaaa5;
}

img{
    border: 5px solid gray;
    position: relative;
    top: 30px;
    left: 50px;
    width: 120px;  
    height: 140px;
   
}

.textaboutme {
    top: 12px;
    color: #4aaaa5;
    padding: 10px;
    position: relative;
    left: 50px;
}

section {
    margin-top: 50px;
    margin-left: 300px;
    width: 60%;
    height: 510px;
    background-color: white;
}

.paragraphme {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 18px;
    position: relative;
    top: 10px;
    width: 550px;
    right: 100px;
    height: 10px;
    float: right;
    margin-bottom: 10px;
    
}

.paragraphme2
{
    
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 18px;
    position: relative;
    top: 10px;
    width: 550px;
    right: 100px;
    height: 10px;
    float: right;
    margin-top: -60px;
}

.paragraphme3
{
    
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 18px;
    position: relative;
    top: 10px;
    width: 550px;
    right: 100px;
    height: 10px;
    float: right;
    margin-top: -10px;
}

hr {
    background-color: lightgray;
    height: 3px;  
    width: 800px;
    color: gray;
    border: none;
}

    .label {
        position: relative;
        margin-top: 30px;
        left: 55px;
        font-weight: 100;
        font-size: 18px;
    }

    .input {
        position: relative;
        left: 55px;
        width: 87%;
    }

    .label2 {
        position: relative;
        margin-top: 30px;
        left: 55px;
        font-weight: 100;
        font-size: 18px;
    }

    .label3 {
        position: relative;
        margin-top: 30px;
        left: 55px;
        font-weight: 100;
        font-size: 18px;
    }

    .textarea {
        position: relative;
        left: 55px;
    }

    .button {
        color: white;
        position: absolute;
        left: 362px;
        margin-top: 140px;
        height: 25px;
        width: 90px;
        background-color: cadetblue;
        border: none;
    }

footer {
   display: flex;
    align-items: center; 
    justify-content: center;
    color: white;
    position: relative;
    top: 21px;
    bottom: 0;
    width: 100%;
    background-color: gray;
    height: 60px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    flex-shrink: 0;
}